<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.vsid.tinystatus">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- requestNetwork be sito meta SecurityException. -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--
      usesCleartextTraffic BUTINA: nuo Android 9 paprastas http:// blokuojamas
      tyliai, be jokio pranesimo, o TinyMakerWiFi HTTPS neturi ir neturės -
      tai ESP32 vietiniame tinkle.
    -->
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/NoSwipe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
